@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  color: black;
  font-family: "Spartan", sans-serif;
  overflow-x: hidden;
}

body {
  background-color: whitesmoke;
}

#nav-wrapper {
  height: 7vh;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  position: fixed;
  z-index: 999;
}

#nav-logo {
  height: 2.35vw;
  width: 7.5vw;
  background-image: url(/src/images/logo.webp);
  background-size: cover;
  cursor: pointer;
}

#cart {
  height: 2.35vw;
  width: 2.35vw;
  background-image: url(/src/images/cart.png);
  background-size: cover;
  cursor: pointer;
}

#cart-dropdown {
  height: 60vh;
  width: 41vh;
  position: relative;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 7vh;
  background-color: white;
  border: 2px solid black;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 15px;
}

#cart-list {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  overflow-y: scroll;
}

.cart-item {
  height: -moz-min-content;
  height: min-content;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.cart-item-des {
  font-size: 70%;
}

#cart-button {
  height: 18%;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid black;
  border-right: none;
  border-left: none;
  border-bottom: none;
  font-size: 150%;
  background-color: rgba(0, 175, 50, 0.7);
  color: whitesmoke;
  cursor: pointer;
}

#cart-button:hover {
  background-color: rgb(0, 175, 50);
}

#hero-image {
  max-height: 20vw;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(/src/images/hero.jpg);
  background-size: cover;
  overflow: hidden;
  margin-top: 7vh;
}

#hero-image::after {
  content: "";
  height: 20vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

#featured-section-wrapper {
  height: 35vw;
  width: 100%;
  margin: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-template-rows: auto;
  gap: 5vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.featured-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: 0.15s ease-in;
}

.featured-item:hover {
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.featured-item-image {
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-item-description {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  margin-top: 5%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.featured-item-name {
  font-size: 1.15vw;
  font-weight: bolder;
}

.featured-item-price {
  font-size: 1vw;
  opacity: 0.8;
}

#featured-image-1 {
  background-image: url(/src/images/featured-image-1.jpg);
  background-size: cover;
}

#featured-image-2 {
  background-image: url(/src/images/featured-image-2.jpg);
  background-size: cover;
}

#featured-image-3 {
  background-image: url(/src/images/featured-image-3.jpg);
  background-size: cover;
}

#featured-image-4 {
  background-image: url(/src/images/featured-image-4.jpg);
  background-size: cover;
}

#featured-image-5 {
  background-image: url(/src/images/featured-image-5.jpg);
  background-size: cover;
}

#featured-image-6 {
  background-image: url(/src/images/featured-image-6.jpg);
  background-size: cover;
}

#featured-image-7 {
  background-image: url(/src/images/featured-image-7.jpg);
  background-size: cover;
}

#featured-image-8 {
  background-image: url(/src/images/featured-image-8.jpg);
  background-size: cover;
}

#main-featured-section-wrapper {
  height: 50vw;
  width: 100%;
  display: flex;
}

.main-featured-item {
  height: 100%;
  width: 50%;
}

#main-featured-1 {
  background-image: url(/src/images/main-featured-1.webp);
  background-size: cover;
}

#main-featured-1::before {
  content: "The new Legacy travels for work";
  position: relative;
  top: 70%;
  left: 5%;
  display: flex;
  color: white;
  font-size: 1.7vw;
}

#main-featured-2 {
  background-image: url(/src/images/main-featured-2.webp);
  background-size: cover;
}

#main-featured-2::before {
  content: "Introducing: The Reina V2";
  position: relative;
  top: 70%;
  left: 5%;
  display: flex;
  color: white;
  font-size: 1.7vw;
}

.main-featured-button {
  height: 4vw;
  width: 14vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 75%;
  left: 5%;
  background-color: whitesmoke;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1vw;
}

.main-featured-button:hover {
  background-color: white;
}

#IIP-main-content-wrapper {
  height: 90vh;
  width: 80vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.IIP-image {
  height: 65vh;
  width: 55vh;
  background-position: center;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#IIP-info {
  height: 65vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#IIP-button {
  height: 60px;
  width: 180px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  background-color: rgb(0, 175, 50);
  font-size: 1rem;
  color: white;
  opacity: 0.85;
  transition: 0.2s ease-in;
}

#IIP-button:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 1;
}

#footer-wrapper {
  height: 150px;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

#footer-nav-list {
  display: flex;
  list-style: none;
  gap: 5vw;
  cursor: pointer;
}/*# sourceMappingURL=App.css.map */